<div id="shopify-section-reviews" class="shopify-section">
   <div class="featured-grid--root" style="background-color:#ffffff;padding-top:60px;padding-bottom:60px" data-section-id="product-featured-in" data-js-class="FrameworkFeaturedGrid" data-alternative-color="true" data-apply-overlay="true" data-container-width="1" data-container="section" data-dark-background="false" data-text-style="light-with-overlay" data-footer-text-exists="false" data-full-width="" data-header-text-exists="true" data-hover-enabled="false" data-show-text-background="" data-spacing="true" data-text-position="center" data-js-loaded="true">
      <div class="featured-grid--header" data-container="panel">
         <div class="featured-grid--header--container" data-container="block">
            <h2 class="featured-grid--title" data-item="section-heading">
               Reviews
            </h2>
         </div>
      </div>
      <div class="image--root" data-aspectratio="" style="width: 100%;">

        <div class="image--container" style="padding-top:100%;">
          <img class="lazyautosizes lazyloaded" data-src="https://cdn.shopify.com/s/files/1/0531/2374/3901/files/reviews.jpg?v=1627047815" data-sizes="auto" data-widths="[]" data-aspectratio="" alt="" sizes="1273px" src="https://cdn.shopify.com/s/files/1/0531/2374/3901/files/reviews.jpg?v=1627047815">
        </div>
      </div>
   </div>
</div>
