<div class="container">
  <div class="text_content">
    {{section.settings.description}}
  </div>
</div>
{% schema %}
{
"name": "Text section 2",
"settings": [
{
"type": "richtext",
"id": "description",
"label": "Text",
"default": "<p>Use a combination of image and text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store</p>"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
